.hidden{
    display: none;
}

/*.addSuppUsers{
    text-align: center;
}*/

#adminFormUsers{
    max-width: 400px;
    padding: 15px;
    margin: 0 auto;
}

.img_user
{
    width: 37px;
    border-radius: 43px;
}

.carousel-inner {
    background-color: #77889936;
}

.carousel-inner img{
    width: 1000px;
    height: 350px;
    margin: auto;
}

.carousel-item.active,
.carousel-item-next,
.carousel-item-prev {
    display: block;
}

.table-striped>tbody>tr:nth-child(odd)>td,
.table-striped>tbody>tr:nth-child(odd)>th {
    background-color: #e3f2fd; /*Choose your own color here*/
}

#form-equipement{
    max-width: 400px;
    padding: 15px;
    margin: 0 auto;
}